<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>GIDClientID</key>
	<string>YOUR_IOS_CLIENT_ID</string>
	<key>CFBundleURLTypes</key>
	<array>
	<dict>
		<key>CFBundleURLSchemes</key>
		<array>
		<string>YOUR_DOT_REVERSED_IOS_CLIENT_ID</string>
		</array>
	</dict>
	</array>
	<key>GIDServerClientID</key>
	<string>YOUR_SERVER_CLIENT_ID</string>
</dict>
</plist>
